/***************/
/** Variables **/
/***************/
/** #e67e22 **/

/*****************/
/** Basic Setup **/
/*****************/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: #FFFFFF;
    color: #383838;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*************************/
/** reusable components **/
/*************************/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, 
.main-nav li a:active {
    cursor: pointer;
    border-bottom: 2px solid #e67e22;
}



/***************************/
/** Header and Navigation **/
/***************************/
header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1,
h2, 
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    color: white;
    font-size: 240%;
    word-spacing: 3px;
    margin-bottom: 20px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 156px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

/*************/
/* Paragraph */
/*************/

.long-copy {
    line-height: 125%;
    width: 70%;
    margin-left: 15%;
}

.box {
    padding: 1%;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*********/
/* Icons */
/*********/

.icon-big {
    font-size: 250%;
    color: #e67e22;
    display: block;
    margin-bottom: 10px;
}


/***********/
/* Buttons */
/***********/
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #FFFFFF;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}


.btn:hover, 
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn:active {
    border: 1px solid #cf6d17;
    color: #e67e22;
    color: white;
}
